doctype html
html
  head
    title Add Task
    link(rel="stylesheet", href="/styles.css")
  body
    main
      h1 Add a New Task
      form(action="/crud/addItem", method="POST")
        div
          label(for="title") Name (required):
          input(type="text", id="title", name="title", required)
        div
          label(for="description") Description:
          textarea(id="description", name="description")
        div
          label(for="priority") Priority:
          input(type="number", id="priority", name="priority")
        div
          label(for="deadline") Deadline:
          input(type="date", id="deadline", name="deadline")
        div
          label(for="status") Status:
          select(id="status", name="status")
            option(value="N/A", selected) Select a status
            option(value="To-Do") To-Do
            option(value="In Progress") In Progress
            option(value="Completed") Completed
        div 
          input(type="hidden", id="username", name="username")
        div
          button(type="submit") Submit

  script(src="/add.js")