//- The Pug layout for the add page
//- There will be a form with the following entries
//- Name, Description, Priority, Deadline, Status (in progress, completed, done)
//- all are optional except name
//- a submit button at the bottom