//- the Pug layout for the edit page
//- pretty much the same as the add page, 
//- but the fields are filled in with the attributes of the task that is being edited
//- an object called task will be passed into this pug layout with the following attributes
//- name, description, priority, deadline, status