doctype html
html
  head
    title Home Page
    link(rel="stylesheet", href="/styles.css")
  body
    header
      div(class="header-container")
        button#logout-button(type="button") Log Out
    main
      //- Task List Container
      div#task-list
        h1 Welcome to Your Task Manager
        
        //- Add Task Button
        button#add-button(type="button") Add Task
        table#task-table
          tr
            th Title 
            th.description Description
            th.priority Priority
            th Deadline
            th Status
            th 

    //- Include Frontend JS
    script(src="/home.js")
