//- Pug layout for the home page. 
//- On the top right, there will be a log out button
//- Then, there will be an add task button that leads to the add page
//- Then, there will be a list of tasks that the user has added, each displaying their properties (name, description, priority, deadline, status)
//- Each entry will have a edit button and a remove button

p Hello World