doctype html
html
  head
    title Home Page
    link(rel="stylesheet", href="styles.css")
  body
    header
      div(class="header-container")
        button(type="button", class="logout-btn", onclick="location.href='/logout'") Log Out
    main
      h1 Welcome to Your Task Manager
      
      // Add Task Button
      button#add-button(type="button") Add Task

      // Task List Container
      div#task-list

    // Include Frontend JS
    script(src="/home.js")
